.main {
    height: 90vh;
    background-color: #111;
}

.firstColumn {
    height: 76vh;
    width: 60vw;
}

.title {
    padding: 0 11%;
    color: #ccc;
    height: 140px;
    background-color: #111;
    z-index: 100;
}

.h1 {
    font-size: 3.75rem;
}

.typingAnimation {
  font-size: 18px;
  letter-spacing: .5px;
  color: #999;
}

.typingAnimation::after {
  content: '|';
  opacity: 1;
  animation: blink 1s infinite;
  color: #966cf9;
  font-weight: bold;
  padding: 0 10px;
  font-size: 19px;
}

.btnHome {
    padding: 0 11%;
}

.btn {
    animation: desceSecaoBtn;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    font-size: 20px;
    letter-spacing: .5px;
    text-transform: UPPERCASE;
    width: 200px;
}

.btn2 {
    animation: desceSecaoBtn2;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    font-size: 20px;
    letter-spacing: .5px;
    text-transform: UPPERCASE;
    width: 200px;
}

.btn3 {
    animation: desceSecaoBtn3;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    font-size: 20px;
    letter-spacing: .5px;
    text-transform: UPPERCASE;
    width: 200px;
}

@keyframes desceSecao {

    from {
        transform: translate3d(0, -10.75rem, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes desceSecaoBtn {
    from {
        transform: translate3d(0, -6.75rem, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes desceSecaoBtn2 {
    from {
        transform: translate3d(0, -8.75rem, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes desceSecaoBtn3 {
    from {
        transform: translate3d(0, -10.75rem, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes blink {
    from {
        opacity: 1;

    }

    to {
        opacity: 0;

    }
}

@media (max-width: 767px) {

    .title {
        position: relative;
        left: 80px;
    }

    .h1 {
        font-size: 40px;
    }
}

@media (max-width: 1522px) {

    .btnHome {
        position: relative;
        top: 80px;
    }
}