.main {
    height: 90vh;
    background-color: #111;
}

.grid {
    height: 80vh;
    width: 100vw;
}

.firstColumn {
    background-color: #111;
    z-index: 100;
    width: 40% !important;
}

.h1 {
    font-size: 3rem;
    color: #fff;
}

.typingAnimation {
    font-size: 18px;
    letter-spacing: .5px;
    color: #9ca3af;
    width: 600px;
}

.typingAnimation::after {
    content: '|';
    opacity: 1;
    animation: blink 1s infinite;
    color: #f52754;
    font-weight: bold;
    padding: 0 10px;
    font-size: 19px;
}

.secondColumn {
    right: 0;
}

.logo {
    font-size: 330px;
    font-family: monospace;
    font-weight: bold;
    color: transparent;
    background-image: linear-gradient(to left, transparent, #f52754);
    -webkit-background-clip: text;
    background-clip: text;
  }

.btn {
    width: 590px;
}
  

@keyframes downSection {

    from {
        transform: translate3d(0, -10.75rem, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes downBtn {
    from {
        transform: translate3d(0, -6.75rem, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes downBtn2 {
    from {
        transform: translate3d(0, -8.75rem, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes downBtn3 {
    from {
        transform: translate3d(0, -10.75rem, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes blink {
    from {
        opacity: 1;

    }

    to {
        opacity: 0;

    }
}

@media (max-width: 991px) {

    .main {
        padding: 0 !important;
    }

    .grid {
        display: flex !important;
        padding: 0 30px;
    }

    .firstColumn {
        text-align: center !important;
        width: 100% !important;
    }

    .h1 {
        font-size: 2.5rem;
        white-space: normal !important;
    }

    .btn {
        justify-content: center !important;
        width: auto !important;
    }

    .typingAnimation {
        width: inherit !important;
    }
}

@media (max-width: 1200px) {

    .logo {
        display: none !important;
    }
}