.header {
    height: 10vh;
    background-color: #111;
    padding: 0 7%;
}

.name {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    font-family: cursive;
    position: absolute;
}

.logo {
    animation: move 3s infinite ease-in-out;
    animation-duration: 2s;
    transition: 1s ease-in-out;
    position: relative;
    font-size: 30px;
    color: #f52754;
    left: 215px;
    font-family: monospace;
    font-weight: bold;
}

@keyframes move {
    0% { transform: translate(0); }
    50% { transform: translate(2px, 3px); }
    100% { transform: translate(0); }
}